body {
    background-color: #f4f4f4;
    /* position: absolute; */
}

.wrap-profile {
    height: 500px;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
}

.wrap-profile:hover {
    height: 500px;
    border-radius: 10px;
    border: 4px solid #FFFFFF;
}

.pilih {
    border: 1px solid rgba(0, 0, 0, 0.073);
}

:focus {
    outline: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 5px 0;
}

.container > * {
    padding: 10px;
}

.profile-name a {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0.5px;
}

.profile-name a:hover {
    text-decoration: none;
    color: black;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.dashboard a {
    text-decoration: none;
    color: black;
}

.dashboard i {
    color: gray;
    margin-right: 5px;
}

.kotak-masuk {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.kotak-masuk i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.8rem;
    color: gray;
}

.kotak-masuk span {
    font-weight: 600;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-title a {
    text-decoration: none;
    color: #000;
}

.contact i {
    color: gray;
    margin-right: 5px;
}

.contact-data p {
    text-align: center;
    background-color: rgba(35, 66, 49, 1);
    color: white;
    padding: 0 5px;
    border-radius: 50%;
}
