* {
    font-family: "Poppins", sans-serif;
}

.dropdown.toggle.show + .dropdown-menu {
    display: none;
}

.footer-heading {
    font-weight: 700;
}

.footer-heading:hover {
    transform: scale(1.01);
    transition: 0.3s;
    cursor: pointer;
}

.footer-list li a {
    font-size: 17px;
    color: #777c8cf2;
    transition: 0.2s;
}

.footer-list li a:hover {
    color: #292b2c;
}

.input-animation-tambahrekening {
    border-bottom: 1px solid rgba(140, 138, 138, 0.256);
    float: left;
    width: 45%;
    position: relative;
}

.input-animation-maripay {
    border-bottom: 1px solid rgba(140, 138, 138, 0.256);
    float: left;
    width: 75%;
    position: relative;
}

.focus-border {
    display: block;
}

.effect-border {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-border ~ .focus-border {
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.526);
    transition: 0.4s;
}

.effect-border:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
}

/* Footer */

.footer-03 {
    background-color: white;
}

.footer-03 a {
    text-decoration: none;
    padding: 0;
    color: white;
}

.animate {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    height: 40px;
    width: 40px;
    background-color: #1e6f5c;
    border-radius: 35px;
    text-align: center;
    margin: 7px;
    line-height: 50px;
    font-size: 12px;
}

a i {
    transition: all 200ms linear;
}

a:hover i {
    transform: scale(1.02);
}

.youtube i:hover {
    color: red;
}

.facebook i:hover {
    color: blue;
}

.instagram i:hover {
    color: #e11d74;
}

.twitter i:hover {
    color: #00adb5;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.logo1 img {
    width: 50px;
}

.stars {
    color: #ffc200;
    margin-bottom: 5px;
}

.logo1 p {
    margin: 0;
    font-size: 12px;
}

.kategori-content img {
    margin-left: 8px;
}

body {
    background-color: #f4f4f4;
}

#menu a {
    opacity: 0.5;
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    color: #49516f;
    font-weight: 900;
}

#menu .aktif {
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    color: #237a57;
    font-weight: 900;
    opacity: 1;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #093028 0%, #237a57 100%) 1;
}

#filter .aktif {
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    color: #237a57;
    font-weight: 900;
    opacity: 1;
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, #093028 0%, #237a57 100%) 1;
}

#kategori .aktif {
    border: 1px solid rgba(128, 128, 128, 0.157);
    box-shadow: 2px 2px 2px #88888845;
    background-color: white;
}

.card {
    padding: 5px;
    background-color: transparent;
    border: none;
    margin: 10px;
    border-radius: 40px;
    transition: 0.5s;
}

.card img {
    border-radius: 10%;
    width: 90%;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.158));
}

.card-body {
    padding: 0;
    margin: 0;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 5px 0;
}

.container > * {
    padding: 10px;
}

.profile-image img {
    border-radius: 70%;
}

.profile-name a {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0.5px;
}

.profile-name a:hover {
    text-decoration: none;
    color: black;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.dashboard a {
    text-decoration: none;
    color: black;
}

.dashboard i {
    color: gray;
    margin-right: 5px;
}

.kotak-masuk {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.kotak-masuk i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.8rem;
    color: gray;
}

.kotak-masuk span {
    font-weight: 600;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-title a {
    text-decoration: none;
    color: #000;
}

.contact i {
    color: gray;
    margin-right: 5px;
}

.contact-data p {
    text-align: center;
    background-color: rgba(35, 66, 49, 1);
    color: white;
    padding: 0 5px;
    border-radius: 50%;
}

/* Kategori */

.bts-harga {
    padding: 7px;
    border-radius: 12px;
}

/* Shortcut */

.jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jcs {
    display: flex;
    align-items: center;
    justify-content: start;
}

.jce {
    display: flex;
    align-items: center;
    justify-content: end;
}

.box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Keranjang */
.keranjang-container {
    border-radius: 50px;
}

.form-check-input:checked {
    background-color: #237a57 !important;
    border: 0;
}

.keranjang-kategori {
    background-color: #237a57;
    color: white;
    border-radius: 12px;
}

.keranjang-button {
    width: 70px;
    height: 28px;
    background: #237a57;
    font-size: 13px;
    text-align: center;
    border-radius: 14px;
}

.konten-row {
    width: 500px;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
}

.form-check-input {
    box-shadow: 2px 2px 2px #88888845;
    border: 1px solid rgba(0, 0, 0, 0.064);
    width: 25px;
    height: 25px;
}

.form-check-label {
    font-size: 24px;
}

.konten-detail img {
    width: 75px;
    height: 85.14px;
    border-radius: 12px;
}

.listnumber button {
    font-size: 24px;
}

.preorder {
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #88888845;
}

.title-label {
    color: #49516f;
}

@media (max-width: 767.98px) {
    .konten-detail img {
        width: 65px;
        height: 65.14px;
        border-radius: 14px;
    }

    .konten-title {
        font-size: 12px;
    }

    .konten-detail .row h6,
    .count h5 {
        font-size: 11px;
    }

    .konten-time {
        width: 60%;
        text-align: center;
        font-size: 12px;
    }

    .konten-catatan,
    .count h5 {
        display: none;
    }

    .count {
        width: 30%;
    }
}

/* Package */
.package-label {
    background: linear-gradient(90deg, #093028 0%, #237a57 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.package-kategori {
    background-color: #b6b6b6;
    height: 4px;
    padding: 0;
    margin: 0;
}

.package-kategori span {
    border: 4px solid #b6b6b6;
    margin: 0 auto;
    text-align: center;
}

.budget {
    border-radius: 10px;
}

.budget h5 {
    color: #000000;
}

.venue-title img {
    width: 12px;
    height: 12px;
}

.location {
    background: #5465ff;
    border-radius: 16px;
    color: #ffffff;
    font-size: 10px;
}

.fasilitas-detail img {
    width: 20.51px;
    height: 26.19px;
}

.img-fasil {
    width: 190px;
    height: 217px;
    border-radius: 10px;
}

.budget {
    display: none;
}

.question:hover + .budget {
    display: block;
}

/* Wishlist */
.img-wrapper {
    position: relative;
}

.love {
    position: absolute;
    right: 14%;
    top: 10px;
    width: 25px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.tema-outdoor {
    position: absolute;
    left: 6%;
    bottom: 12px;
    width: 50px;
    height: 20px;
    padding: 2px;
    background: #5465ff;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 14px;
}
.tema-indoor {
    position: absolute;
    left: 6%;
    bottom: 12px;
    width: 50px;
    height: 20px;
    padding: 2px;
    background: #ffc200;
    font-size: 10px;
    text-align: center;
    border-radius: 14px;
}

.btn-maritory {
    background-color: #237a57;
    color: white;
    border-radius: 12px;
    height: 35px;
}
.btn-wrap {
    padding-right: 28px;
}

/* RAB */
.percentage-wrapper {
    color: white;
    border-radius: 18px;
}

.percentage-rab {
    height: 35px;
    border-radius: 18px 0 0 18px;
    background: linear-gradient(180deg, #093028 0%, #237a57 100%);
}
.percentage-rab-100 {
    height: 35px;
    border-radius: 18px;
    background: linear-gradient(180deg, #093028 0%, #237a57 100%);
}
.percentage-rab-0 {
    height: 35px;
    margin-left: 10px;
    color: black;
}

input[type="radio"] {
    accent-color: green;
    width: 15px;
    height: 15px;
}

/* General */

.hover-underline {
    display: inline-block;
    position: relative;
    color: #40414632;
}

.hover-underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #404146d5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.input-form {
    border-radius: 16px !important;
}
