body {
    background-color: #f4f4f4;
}
#menu a {
    opacity: 0.5;
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    color: #49516f;
    font-weight: 900;
}
#menu .aktif {
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    color: #237a57;
    font-weight: 900;
    opacity: 1;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #093028 0%, #237a57 100%) 1;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    margin: 5px 0;
}

.container > * {
    padding: 10px;
}

.profile-image img {
    border-radius: 70%;
}

.profile-name a {
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    text-decoration: none;
    color: gray;
    letter-spacing: 0.5px;
}

.profile-name a:hover {
    text-decoration: none;
    color: black;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.dashboard a {
    text-decoration: none;
    color: black;
}

.dashboard i {
    color: gray;
    margin-right: 5px;
}

.kotak-masuk {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
}

.kotak-masuk i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.8rem;
    color: gray;
}

.kotak-masuk span {
    font-weight: 600;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-title a {
    text-decoration: none;
    color: #000;
}

.contact i {
    color: gray;
    margin-right: 5px;
}

.contact-data p {
    text-align: center;
    background-color: rgba(35, 66, 49, 1);
    color: white;
    padding: 0 5px;
    border-radius: 50%;
}
/* Footer */

.footer-03 {
    background-color: #1e6f5c;
}
.footer-03 a {
    text-decoration: none;
    padding: 0;
    color: white;
}
.ftco-footer-social {
    padding-left: 0;
}
.ftco-footer-social li {
    list-style: none;
    display: inline-block;
}

.ftco-footer-social li a {
    display: block;
    background: #1e6f5c;
    border-radius: 50%;
    height: 37px;
    padding: 0 6px;
}

.ftco-footer-social li a:hover {
    background-color: #ffffff;
}
.footer-03 .ftco-footer-social li a {
    color: #ffffff;
    font-size: 25px;
}

.footer-03 .ftco-footer-social .twitter a:hover {
    color: lightblue;
}
.footer-03 .ftco-footer-social .youtube a:hover {
    color: red;
}
.footer-03 .ftco-footer-social .facebook a:hover {
    color: blue;
}
.footer-03 .ftco-footer-social .insta a:hover {
    color: rgba(255, 192, 203, 0.635);
}
.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.logo1 img {
    width: 50px;
}
.logo1 p {
    margin: 0;
    font-size: 12px;
}
.kategori-content img {
    margin-left: 8px;
}
